.titre-livreor
{
	text-align:center;
	padding-top: 5%;
}
.section-livreor-1
{
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 2%;
}
/* PARTIE CONNEXION */
.article-connexion
{
	background-color: #7cd3d587;
	width: 59%;
    text-align: center;
    padding: 2%;
}
.form-connexion
{
	text-align: -webkit-center;
}
.envoi-connexion
{
	width: 15%;
    margin-bottom: 2%;
}
.envoi-deconnexion
{
	width: 15%;

}
/*FIN DE PARIE CONNEXION
    DEBUT PROFIL */
.article-profil
{
	background-color:#0b5cc0ad;
	width: 39%;
    text-align: center;
    padding: 2%;
}
.liens-vers-modif
{
 margin-top: 10%;
}
/*PARTIE COM */
.section-com
{
margin-bottom: 2%;
}

/*PARTIE AFFICHAGE COMMENTAIRE*/ 
.section-zoneaffichage
{
	background-image: url(../image/carte-a-puces.jpg); 
	color: #30ff2d;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    background-attachment: fixed;

}
.table-affichage
{
display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: solid;
    border-radius: 20px;
    background-color: rgba(5, 78, 222, 0.75);
    height: 600px;
    max-width: 630px;
    overflow-y: scroll;
    margin: auto;
    margin-top: 4%;
}
.div-affichage
{

}
.texttd
{
word-wrap: break-word;
max-width: 400px;
}
.er
{
    position: absolute;
    margin-top: 17%;
    margin-left: 2%; 
}